# Python virtual environments
venv_Tg_predictor/
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# LaTeX auxiliary files
manuscript/

# chemprop files
data/processed/chemprop_models/

# Data and figures
figs/
*.csv
*.tsv
*.xlsx
*.h5
*.pkl
*.npz
*.npy

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.bak
*.tmp

# Ignore manuscript build artifacts
manuscript/*.aux
manuscript/*.log
manuscript/*.out
manuscript/*.pdf
